body {
  overflow: hidden;
}
#root {
  height: 100%;
}

.css-todoApp {
  width: 50%;
  position: relative;
  left: 25%;
}

.css-todoApp-container {
  margin-top: 3em;
  overflow: auto;
  height: calc(100% - 3em);
}